@import "./sass/colors";
@import "./sass/layout";
@import "./sass/spacing";
@import "./sass/typography";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: $black-main;
  color: $white-main;
  font-family: "Barlow Condensed", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $green-main;
}

::-webkit-scrollbar-thumb:hover {
  background: $green-light;
}

::selection {
  background: $green-semi-bold;
  color: $white-main;
}
