$green-main: #24e500;
$green-light: #80fd75;
$green-semi-light: #60f84e;
$green-semi-bold: #15b200;
$green-bold: #109f00;
$black-main: #000;
$black-semi-light: #141414;
$black-light: #3b3b3b;
$white-main: #fff;
$white-semi-bold: #bcbcbc;
$white-bold: #a6a6a6;

.color-gray {
  color: $white-bold;
}
